/**
 * @file _falling-object.scss
 * @desc FallingObject クラス用のスタイル
 */

.falling-object-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.falling-object {
    position: absolute;
    width: 100%;
    height: auto;
    top: -100%;
    left: 50%;
    overflow: visible;
    transform: translateX(-50%);
    animation-timing-function: linear;
    z-index: 1000;
}

.collider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@keyframes moveVertical {
    0% { top: -30%; }
    100% { top: 130%; }
}