/**
 * @file _image_decoration.scss
 * @desc portfolio でわいが持ってる段ボールに文字とか装飾する
 */

.rotate-right-5{
    transform: rotate(5deg);
}

.rotate-left-5{
    transform: rotate(-5deg);
}

.background-media {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: contain;
    z-index: 2;
}

.overlay {
    position: absolute; /* 絶対位置で配置 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* 動画全体に重なるように */
    z-index: 3; /* 背景動画より前面に表示 */
    color: white;
    text-align: center;
    padding: 20px;
}

.overlay h1 {
    font-size: 3rem; /* ヘッダーフォントサイズ */
}

.overlay p {
    font-size: 1.5rem; /* 段落のフォントサイズ */
}

.overlay-half {
    position: absolute; /* 絶対位置で配置 */
    top: 0;
    left: 50%;
    width: auto;
    transform: translate(-50%, 40%) rotate(var(--overlay-angle));
    z-index: 3;
    color: white;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.overlay-half h1 {
    font-size: 3rem; /* ヘッダーフォントサイズ */
}

.overlay-half p {
    font-size: 1.5rem; /* 段落のフォントサイズ */
}

.wave-container {
    position: absolute; /* 絶対配置 */
    width: 100%; /* 幅を画像コンテナに合わせる */
    height: auto; /* 波線ボックスの高さ */
    overflow: hidden;
    z-index: 2;
    transform: rotate(5deg); /* ボックス全体を回転 */
    transform-origin: center;
    position: relative;
    bottom : 13vw;
    left: -1.5vw;
}

.reverse-wave-container {
    position: absolute; /* 絶対配置 */
    width: 100%; /* 幅を画像コンテナに合わせる */
    height: auto; /* 波線ボックスの高さ */
    overflow: hidden;
    z-index: -1;
    transform: rotate(185deg);
    transform-origin: center; /* 回転の基点を左上に設定 */
    position: relative;
    bottom : 6vw;
    left: -5px;
}