/**
 * @file _variables.scss
 * @desc 変数定義，フォントの設定
 */

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaisei+HarunoUmi&family=Kaisei+Opti&family=Kaisei+Tokumin&family=Khand:wght@300;400;500;600;700&family=Kiwi+Maru&family=Noto+Sans+JP:wght@100..900&family=Pathway+Gothic+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Yuji+Boku&family=Yuji+Mai&family=Zen+Kaku+Gothic+New&family=Zen+Kurenaido&display=swap');

@font-face {
    font-family: 'Arcade-classic';
    src: url('../myfonts/ARCADECLASSIC.TTF');
}

@font-face {
    font-family: 'handwrite_japanese';
    src: url('../myfonts/jap_kanji_1_1.20241229.otf') format('opentype');
}

@font-face {
    font-family: 'handwrite_japanese';
    src: url('../myfonts/jap_alphabet_1.20241228.otf') format('opentype');
}

@font-face {
    font-family: 'handwrite_japanese';
    src: url('../myfonts/jap_omakekana_1.20241229.otf') format('opentype');
}

@font-face {
    font-family: 'handwrite_japanese';
    src: url('../myfonts/jap_hiragana_1.20241228.otf') format('opentype');
    unicode-range: U+3041-3093;
}

@font-face {
    font-family: 'handwrite_japanese';
    src: url('../myfonts/jap_katakana_1.20241228.otf') format('opentype');
    unicode-range: U+30A1-30F3;
}

@font-face {
    font-family: 'handwrite';
    src: url('../myfonts/handwrite_1.20241226.otf') format('opentype');
}

@font-face {
    font-family: 'handwrite_title';
    src: url('../myfonts/handwrite_title_1.20241227.otf') format('opentype');
}

@font-face {
    font-family: 'handwrite_cursive';
    src: url('../myfonts/handwrite_cursive_1.20241228.otf') format('opentype');
}

:root {
    --zoom-factor: 1;
    --zoom-limit: 1.5;

    --window-min-vp: 1;
    --square-similarity: 1;

    --object-minimum-width: 25vw;
    --object-minimum-height: 25vh;
    --object-maximum-width: 200vw;
    --object-maximum-height: 200vh;

    --popup-bar-height: 0.08;
    --bar-font-size: 0;
    --solid-line-weight: 0;

    --color-bar: #1c286b;
    --color-button: #4699f85e;
    --color-hover: #0056b3;
    --color-white: #f4f4f4;
    --color-black: #141414;
    --color-blue: #327fd6;
    --color-yellow: #e6f371;
    --color-beige: #ebe9e6;
    --color-pink:rgb(255, 70, 110);

    --font-size-base: 2vmin;

    --overlay-height: 50%;
    --overlay-angle: 0deg;

    --frame-rate: 20; // fps
    --object-rect-as-segment-divisor: 5; // オブジェクトのサイズを segment の何割にするか
    --animation-duration: 20s; // 生存時間 (1 / 速度)
    --animation-delay-time: 10; // ms
    --count-health-hearts: 3;

    --slide-width: 25vw;
}

.dot-game {
    font-family: "Arcade-classic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.s-japanese {
    font-family: "handwrite_japanese";
    font-weight: 400;
    font-style: normal;
}

.s-standard {
    font-family: "handwrite", Josefin Sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.s-title {
    font-family: "handwrite_title", Josefin Sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.s-cursive {
    font-family: "handwrite_cursive", Josefin Sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.kaisei-opti {
    font-family: "Kaisei Opti", serif;
    font-weight: 400;
    font-style: normal;
}

.yuji-boku {
    font-family: "Yuji Boku", serif;
    font-weight: 400;
    font-style: normal;
}

.zen-kurenaido {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.yuji-mai {
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
}


.zen-kaku-gothic {
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 400;
    font-style: normal;
}

.raleway {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.pathway-gothic {
    font-family: "Pathway Gothic One", serif;
    font-weight: 400;
    font-style: normal;
}


.noto-sans-jp {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.kiwi-maru {
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
}

.khand-light {
    font-family: "Khand", serif;
    font-weight: 300;
    font-style: normal;
}

.khand-regular {
    font-family: "Khand", serif;
    font-weight: 400;
    font-style: normal;
}

.khand-medium {
    font-family: "Khand", serif;
    font-weight: 500;
    font-style: normal;
}

.khand-semibold {
    font-family: "Khand", serif;
    font-weight: 600;
    font-style: normal;
}

.khand-bold {
    font-family: "Khand", serif;
    font-weight: 700;
    font-style: normal;
}

.josefin-sans {
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dot-gothic {
    font-family: "DotGothic16", serif;
    font-weight: 400;
    font-style: normal;
}

.edu {
    font-family: "Edu AU VIC WA NT Pre", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}