/**
 * @file _anmlayer.scss
 * @desc アニメーション関連
 */

.top-in, 
.bottom-in, 
.right-in, 
.left-in {
    position: relative;
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;

    &.is-animated {
        opacity: 1;
        transform: translateY(0);
    }
}

.top-in {
    transform: translateY(30px);
}

.bottom-in {
    transform: translateY(-30px);
}

.right-in {
    transform: translateX(30px);
}

.left-in {
    transform: translateX(-30px);
}

.top-fade-text, 
.bottom-fade-text, 
.left-fade-text, 
.right-fade-text {
    position: relative;
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;

    &.is-animated {
        opacity: 1;
        transform: translateY(0);
    }

    span {
        opacity: 0;
        display: inline-block;
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;

        &.is-animated {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.top-fade-text {
    transform: translateY(10px);

    span {
        transform: translateY(10px);
    }
}

.bottom-fade-text {
    transform: translateY(-10px);

    span {
        transform: translateY(-10px);
    }
}

.right-fade-text {
    transform: translateX(10px);

    span {
        transform: translateX(10px);
    }
}

.left-fade-text {
    transform: translateX(-10px);

    span {
        transform: translateX(-10px);
    }
}

.is-clash {
    animation: electrocute 0.3s ease-in-out;
}

.universe-layer {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 50%;
    opacity: 0;
    flex-direction: row;
    pointer-events: none;
    // overflow: hidden;

    .left-side, .right-side {
        position: relative;
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        height: 100%;
        flex: 1;
    }

    .left-side {
        align-items: flex-start;

        .planet {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }
    }

    .right-side {
        align-items: flex-end;

        .planet {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
        }
    }

    img {
            max-width: calc(var(--window-min-vp) / 10);
    }
}

.mouse-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    clip-path: circle(0px at 0px 0px);
    -webkit-clip-path: circle(0px at 0px 0px);
    background-image: inherit;
    background-size: cover;
    background-position: center;
    z-index: 1000;
    // filter: invert(0.2) saturate(7) contrast(1.5) brightness(10);
    filter: invert(0.7) saturate(7);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: inherit;
        background-size: cover;
        background-position: center;
        z-index: -1;
        border-radius: 50%;
        border: 1% solid rgb(0, 0, 0);
    }
}

.game-field {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 1;

    .segment {
        position: relative;
        flex: 1;
        overflow: visible;
    }

    .ground {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10%;
        background-color: #00000000;
    }
}

.sky-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: auto;
    gap: calc(var(--font-size-base) * 0.5);
    margin: 0;
    padding: 0;
    background-color: var(--color-beige);
    justify-content: flex-start;
    box-sizing: border-box;
    overflow: hidden;

    .sky-4, .sky-3, .sky-2, .sky-1 {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        top: calc(var(--bar-font-size) * -1.2);
        right: 0;
        left: 0;
        margin: 0 auto;

        .cloud {
            position: relative;
            width: auto;
            height: calc(var(--bar-font-size) * 3);
            background-color: #ebe9e600;
            background-size: contain;
            background-position: center;

            img {
                object-fit: contain;
            }
        }

        .ship-1, .ship-2, .ship-3 {
            position: relative;
            width: auto;
            height: calc(var(--bar-font-size) * 1);
            background-color: #ebe9e600;
            background-size: contain;
            background-position: center;

            img {
                object-fit: contain;
            }
        }

        .ship-1 {
            top: var(--bar-font-size);
        }

        .ship-2 {
            top: calc(var(--bar-font-size) * 1.2);
        }

        .ship-3 {
            top: calc(var(--bar-font-size) * 1.4);
        }
    }

    .sky-4 {
        animation: scroll-horizon-to-left 80s infinite linear 0.1s both;
    }

    .sky-3 {
        animation: scroll-horizon-to-left 60s infinite linear 0.1s both;
    }

    .sky-2 {
        animation: scroll-horizon-to-left 50s infinite linear 0.1s both;
    }

    .sky-1 {
        animation: scroll-horizon-to-left 30s infinite linear 0.1s both;
    }

    .text {
        position: relative;
        display: flex;
        margin: calc(var(--font-size-base) * 0.3) 0;
        text-align: center;
        justify-content: center;
        font-family: 'Kiwi Maru';
        font-size: calc(var(--font-size-base) * 1);
        color: var(--color-black);
    }

    .border-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        height: auto;
        justify-content: center;
        text-align: start;
        padding: calc(var(--solid-line-weight) * 2);
        gap : calc(var(--solid-line-weight) * 2);
        border: var(--solid-line-weight) solid var(--color-black);
        border-radius: 10px;
        box-sizing: border-box;
        font-family: 'Kiwi Maru';
        background-color: #ebe9e600;
        overflow: hidden;

        ul {
            list-style-type :square;

            ul {
                list-style-type: disc;

                li {
                    font-family: 'Kiwi Maru';
                    font-weight: normal;
                    line-height: 1;
                    color: var(--color-black);
                }
            }

            li {
                margin: var(--solid-line-weight 0);
                font-family: 'Kiwi Maru';
                font-weight: bold;
                line-height: 1.5;
                color: var(--color-blue);
            }
        }
    }

    .intro {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        line-height: 1.3;
        padding: calc(var(--font-size-base) * 1);
        gap: calc(var(--font-size-base) * 1);
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-image: url('../../figs/backgrounds/cloud.png');
        background-repeat: repeat-y;
        background-position: center;
        background-size: 98% 98%;

        .title {
            position: relative;
            height: auto;
            width: 100%;
            align-items: center;
            justify-content: center;
            font-family: 'Arcade-classic', 'DotGothic16';
            font-size: calc(var(--font-size-base) * 2.5);
            font-weight: normal;
            color: var(--color-pink);
        }

        .description {
            position: relative;
            height: auto;
            width: 100%;
            font-family: 'Kiwi Maru', 'Zen Kurenaido';
            font-size: calc(var(--font-size-base) * 1);
            color: var(--color-black);
        }
    }

    .video-container {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 56.25%;
        overflow: hidden;
    }

    .effort {
        position: relative;
        display: flex;
        width: 100%;
        height: auto;
        padding: 0 var(--font-size-base);
        gap: var(--font-size-base);
        flex-direction: column;
        justify-content: center;
        font-family: 'Kiwi Maru';
        font-size: calc(var(--font-size-base) * 1);
        background-color: rgba(255, 253, 164, 0);

        .container-flexible {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 0 var(--font-size-base);

            .underline {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 100%;
                height: auto;
                justify-content: center;
                text-align: start;
                padding: calc(var(--solid-line-weight) * 2);
                gap : calc(var(--solid-line-weight) * 2);
                border-bottom: var(--solid-line-weight) solid var(--color-black);
                box-sizing: border-box;
                background-color: #ebe9e600;
                overflow: hidden;

                ul {
                    list-style-type :square;

                    ul {
                        list-style-type: disc;

                        li {
                            font-family: 'Kiwi Maru';
                            font-weight: normal;
                            line-height: 1;
                            color: var(--color-black);
                        }
                    }

                    li {
                        margin: var(--solid-line-weight 0);
                        font-family: 'Kiwi Maru';
                        font-weight: bold;
                        line-height: 1.5;
                        color: var(--color-blue);
                    }
                }
            }

            img, video {
                position: relative;
                flex: 0;
                width: 40%;
                height: auto;
                background-color: rgba(0, 0, 0, 0);
                object-fit: scale-down;

                source {
                    width: 100%;
                    height: 100%;
                    object-fit: scale-down;
                }
            }
        }

        @media (max-aspect-ratio: 1/1) {
            .container-flexible {
                flex-direction: column;

                img, video {
                    width: 80%;
                }
            }
        }
    }

    .ground {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        background-image: url('../../figs/backgrounds/ground_1.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        opacity: 0.8;
    }

    .link {
        font-family: 'Kiwi Maru';
        color: var(--color-blue);
    }
}

.sky-container:has(.intro) {
    background-color: transparent;
}

#scroll-animation-container {
    --scroll-container-height: calc(200vh + 250px);
    
    height: var(--scroll-container-height);
    position: relative;

    #three-d-scroll-content {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }
}

.change-opacity-with-3d-object-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;

    .text-box {
        position: absolute;
        bottom: 8vh;
        font-size: calc(var(--font-size-base) * 2);
        color: var(--color-black);
        opacity: 1;
        font-family: 'arcade-classic', 'DotGothic16';
    }
}