/**
 * @file _anmlayer.scss
 * @desc アニメーション関連
 */

.top-in, 
.bottom-in, 
.right-in, 
.left-in {
    position: relative;
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;

    &.is-animated {
        opacity: 1;
        transform: translateY(0);
    }
}

.top-in {
    transform: translateY(30px);
}

.bottom-in {
    transform: translateY(-30px);
}

.right-in {
    transform: translateX(30px);
}

.left-in {
    transform: translateX(-30px);
}

.top-fade-text, 
.bottom-fade-text, 
.left-fade-text, 
.right-fade-text {
    position: relative;
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;

    &.is-animated {
        opacity: 1;
        transform: translateY(0);
    }

    span {
        opacity: 0;
        display: inline-block;
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;

        &.is-animated {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.top-fade-text {
    transform: translateY(10px);

    span {
        transform: translateY(10px);
    }
}

.bottom-fade-text {
    transform: translateY(-10px);

    span {
        transform: translateY(-10px);
    }
}

.right-fade-text {
    transform: translateX(10px);

    span {
        transform: translateX(10px);
    }
}

.left-fade-text {
    transform: translateX(-10px);

    span {
        transform: translateX(-10px);
    }
}

.mouse-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    clip-path: circle(0px at 0px 0px);
    -webkit-clip-path: circle(0px at 0px 0px);
    background-image: inherit;
    background-size: cover;
    background-position: center;
    z-index: 1000;
    filter: invert(0.2) saturate(7) contrast(1.5) brightness(10);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: inherit;
        background-size: cover;
        background-position: center;
        z-index: -1;
        border-radius: 50%;
        border: 1% solid rgb(0, 0, 0);
    }
}

.game-field {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 1;

    .segment {
        position: relative;
        flex: 1;
        overflow: visible;
    }

    .ground {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10%;
        background-color: #00000000;
    }
}

.sky-container {
    background-color: #ebe9e6;
    overflow: hidden;

    .sky {
        position: absolute;
        display: flex;
        width: 100%;
        height: auto;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        justify-content: space-around;
        animation: scroll-horizon-left 20s infinite linear 0.1s both;

        .cloud {
            position: relative;
            display: inline-block;
            background-color: #ebe9e600;
            background-size: contain;
            background-position: center;

            img {
                object-fit: contain;
            }
        }
    }

    .media {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        padding: 0 calc(var(--solid-line-weight) * 2);
        gap: var(--solid-line-weight);
        flex-direction: row;
        justify-content: center;
        margin: auto;
        background-color: rgba(255, 253, 164, 0);

        img, video {
            position: relative;
            flex: 0;
            width: 35%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            object-fit: scale-down;

            source {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }
        }

        .details {
            position: relative;
            display: flex;
            flex: 1;
            height: 100%;
            width: 65%;
            gap:calc(var(--bar-font-size) * 0.2);
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .title {
                font-family: 'Arcade-classic', 'DotGothic16';
                font-size: calc(var(--bar-font-size) * 0.5);
                font-weight: bold;
                color: var(--color-pink);
            }

            .description {
                font-family: 'Kiwi Maru';
                font-size: calc(var(--bar-font-size) * 0.3);
                color: var(--color-black);
            }
        }
    }
}