/**
 * @file _base.scss
 * @desc 汎用性のありそうなボックスレイアウト
 */

.sentence {
    font-size: calc(var(--font-size-base) * var(--font-size-multiplier, 1));
}

.container,
.container-centeredness,
.container-vertical, 
.container-right,
.container-left,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    display: flex;
    position: relative;
}

.container-centeredness {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    place-items: center;
    justify-content: center;
}

.container-vertical {
    flex-direction: column;
}

.container-right {
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.container-left {
    flex-direction: row;
    justify-content: flex-start;
}

.content {
    background-color: rgba(0, 0, 0, 0);
}

.whiteboad {
    background-color: var(--color-white);
}

.plate {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(14, 77, 114, 0);
}

.empty {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
}

.toggles {
    margin: auto;
}

.video-vw {
    text-align: center;
    width: "480";
    /* width : 20vw ;  */
}

.image-vw {
    position: absolute;
    top: 0px;
    left: -50px;
}

.flush-top {
    vertical-align:top;
}

.flush-bottom {
    vertical-align:bottom;
}

.flush-left {
    text-align:left;
}

.flush-right {
    text-align:right;
}

.flush-center {
    text-align:center;
}

.justify-left {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.justify-right {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.justify-center {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.align-top {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
}

.align-bottom {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.align-center {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.left-side {
    left: 0;
    width: 80%;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
}

.right-side {
    right: 0;
    width: 80%;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
}

.vertical {
    display: flex;
    flex-direction: column;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    line-height: 2;
    letter-spacing: 0.2em;
    text-align: start;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.vertical-zoom-box {
    width: 100%;
    height: auto;
    min-height: var(--object-minimum-height);
    max-height: var(--object-maximum-height);
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizon-zoom-box {
    overflow-x: auto;
    width: auto;
    height: 100%;
    min-width: var(--object-minimum-width);
    max-width: var(--object-maximum-width);
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.zoom-invincible-square {
    width: var(--window-min-vp);
    height: var(--window-min-vp);
    background-color: rgba(0, 0, 0, 0);
    position: relative;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
}

.image-container {
    // position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.cut {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    padding-top: calc(var(--bar-font-size) * 0.28);
    padding-bottom: calc(var(--bar-font-size) * 0.32);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: calc(var(--bar-font-size) * 0.05);
    font-size: calc(var(--bar-font-size) * 0.7);
    font-family: 'Arcade-classic', 'DotGothic16', 'Josefin Sans';
    font-weight: 300;
    font-style: color var(--color-black);

    .text-sub {
        position: relative;
        display: flex;
        bottom: 0;
        text-align: center;
        color: var(--color-black);
        font-family: "Kiwi Maru";
        font-size: calc(var(--bar-font-size) * 0.25);
        color: var(--color-black);
        font-weight: 400;
    }
}

.double-underline {
    background-color: rgba(0, 0, 0, 0);
    /* padding-bottom: calc(var(--bar-font-size) * 0.1); */
    position: relative;
    color: var(--color-black);

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: calc(var(--window-min-vp) * 0.003);
        background-color: currentColor;
        box-shadow: 0 calc(var(--window-min-vp) * 0.005) 0 currentColor;
    }
}

.column-box {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    box-sizing: border-box;
    text-align: left;
}

.column-box-frame {
    display: block;
    width: 100%;
    margin: 0.5vw;
    padding: 1vw;
    box-sizing: border-box;
    border: 2px solid var(--color-white);
    text-align: left;
    line-height: 0.5;
}

.column-box p, 
.column-box-frame p {
    line-height: 1.2;
}

.column-box item {
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 2%;
    display: block;
}

.column-box-frame item {
    line-height: 1.1;
    letter-spacing: 1px;
    display: block;
}

.column-box, .column-box-frame p:first-child {
    margin-top: 0;
}

.column-box, .column-box-frame p:last-child {
    margin-bottom: 0;
}
