/**
 * @file _base.scss
 * @desc 汎用性のありそうなボックスレイアウト
 */

.sentence {
    position: inherit;
    font-size: calc(var(--font-size-base) * var(--font-size-multiplier, 1));

    ul, li {
        position: inherit;
    }

    a {
        position: inherit;
        cursor: none;
    }
    a:focus {
        outline: none;
        cursor: none;
        color: currentColor;
    }
}

.sentence-fixed-size {
    font-size: var(--font-size-base);
}

.container,
.container-centeredness,
.container-vertical, 
.container-right,
.container-left,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    display: flex;
    position: relative;
}

.container-centeredness {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    place-items: center;
    justify-content: center;
}

.container-vertical {
    flex-direction: column;
}

.container-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.container-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.content {
    background-color: rgba(0, 0, 0, 0);
    width: 100vw;
}

.title {
        position: relative;
        display: flex;
        bottom: 0;
        text-align: center;
        color: var(--color-black);
        font-family: "arcade-classic", "DotGothic16", "Josefin Sans";
        word-spacing: calc(var(--bar-font-size) * 0.1);
        font-size: calc(var(--bar-font-size) * 0.7);
        color: var(--color-black);
        font-weight: 400;
    }

.text {
    font-size: calc(var(--bar-font-size) * 0.25);
    font-family:"Kiwi Maru", "sans-serif";
    color: var(--color-black);
    line-height: 1.5;
}

.effort {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    padding: 0 var(--font-size-base);
    // gap: var(--font-size-base);
    gap: 4vw;
    flex-direction: column;
    justify-content: center;
    font-family: 'Kiwi Maru';
    font-size: calc(var(--font-size-base) * 1);
    background-color: rgba(255, 253, 164, 0);

    .container-flexible {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 0 var(--font-size-base);

        .underline {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 100%;
            height: auto;
            justify-content: center;
            text-align: start;
            padding: calc(var(--solid-line-weight) * 2);
            gap : calc(var(--solid-line-weight) * 2);
            border-bottom: var(--solid-line-weight) solid var(--color-black);
            box-sizing: border-box;
            background-color: #ebe9e600;
            overflow: hidden;

            ul {
                list-style-type :square;

                ul {
                    list-style-type: disc;

                    li {
                        font-family: 'Kiwi Maru';
                        font-weight: normal;
                        line-height: 1;
                        color: var(--color-black);
                    }
                }

                li {
                    margin: var(--solid-line-weight 0);
                    font-family: 'Kiwi Maru';
                    font-weight: bold;
                    line-height: 1.5;
                    color: var(--color-blue);
                }
            }
        }

        img, video {
            position: relative;
            flex: 0;
            width: 40%;
            height: auto;
            background-color: rgba(0, 0, 0, 0);
            object-fit: scale-down;

            source {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }
        }
    }

    @media (max-aspect-ratio: 1/1) {
        .container-flexible {
            flex-direction: column;

            img, video {
                width: 80%;
            }
        }
    }
}

.link {
    position: inherit;
    font-family: 'Kiwi Maru';
    color: var(--color-blue);
}

.whiteboard {
    background-color: var(--color-white);
}

.border {
    position: relative;
    border-radius: var(--solid-line-weight);
    border: var(--solid-line-weight) solid var(--color-black);
}

.wireframe-white {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: -1vw;
    box-sizing: border-box;
    border: calc(var(--bar-font-size) * 0.1) solid var(--color-white);
    border-radius: calc(var(--bar-font-size) * 0.05);
}

.wireframe-black {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: -1vw;
    box-sizing: border-box;
    border: calc(var(--bar-font-size) * 0.1) solid var(--color-black);
    border-radius: calc(var(--bar-font-size) * 0.05);
}

.plate {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(14, 77, 114, 0);
}

.gray-translucent-plate {
    background-color: #fcfcfc59;
}

.blue-translucent-plate {
    background-color: #429aff46;
}

.empty {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
}

.toggles {
    margin: auto;
}

.video-vw {
    text-align: center;
    width: "480";
    /* width : 20vw ;  */
}

.image-vw {
    position: absolute;
    top: 0px;
    left: -50px;
}

.flush-top {
    vertical-align:top;
}

.flush-bottom {
    vertical-align:bottom;
}

.flush-left {
    text-align:left;
}

.flush-right {
    text-align:right;
}

.flush-center {
    text-align:center;
}

.justify-left {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.justify-right {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.justify-center {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.align-top {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
}

.align-bottom {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.align-center {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.left-side {
    left: 0;
    width: 80%;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
}

.right-side {
    right: 0;
    width: 80%;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
}

.vertical {
    display: flex;
    flex-direction: column;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    line-height: 2;
    letter-spacing: 0.2em;
    text-align: start;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.vertical-zoom-box {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: var(--object-minimum-height);
    max-height: var(--object-maximum-height);
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizon-zoom-box {
    overflow-x: auto;
    width: auto;
    height: 100%;
    min-width: var(--object-minimum-width);
    max-width: var(--object-maximum-width);
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.zoom-invincible-square {
    width: var(--window-min-vp);
    height: var(--window-min-vp);
    background-color: rgba(0, 0, 0, 0);
    position: relative;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
}

.plane-video-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;

    video {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    source {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

.image-container {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.plane-image-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;

    .border {
        border-radius: var(--solid-line-weight); 
        border: var(--solid-line-weight) solid var(--color-black);
    }

    img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

.cut {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px var(--solid-line-weight) rgba(0, 0, 0, 0.651);
    box-sizing: border-box;
    padding-top: calc(var(--bar-font-size) * 0.1);
    padding-bottom: calc(var(--bar-font-size) * 0.2);
    letter-spacing: var(--solid-line-weight);
    font-size: calc(var(--bar-font-size) * 0.5);
    font-family: 'Arcade-classic', 'DotGothic16', 'Josefin Sans';
    font-weight: 300;
    font-style: color var(--color-black);

    .text-sub {
        position: relative;
        display: flex;
        bottom: 0;
        text-align: center;
        color: var(--color-black);
        font-family: "Kiwi Maru";
        font-size: calc(var(--bar-font-size) * 0.25);
        color: var(--color-black);
        font-weight: 400;
    }
}

.double-underline {
    background-color: rgba(0, 0, 0, 0);
    /* padding-bottom: calc(var(--bar-font-size) * 0.1); */
    position: relative;
    color: var(--color-black);

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: calc(var(--window-min-vp) * 0.003);
        background-color: currentColor;
        box-shadow: 0 calc(var(--window-min-vp) * 0.005) 0 currentColor;
    }
}

.column-box {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    box-sizing: border-box;
    text-align: left;
}

.column-box-frame {
    display: block;
    width: 100%;
    margin: 0.5vw;
    padding: 1vw;
    box-sizing: border-box;
    border: 2px solid var(--color-white);
    text-align: left;
    line-height: 0.5;
}

.column-box p, 
.column-box-frame p {
    line-height: 1.2;
}

.column-box item {
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 2%;
    display: block;
}

.column-box-frame item {
    line-height: 1.1;
    letter-spacing: 1px;
    display: block;
}

.column-box, .column-box-frame p:first-child {
    margin-top: 0;
}

.column-box, .column-box-frame p:last-child {
    margin-bottom: 0;
}

