/**
 * @file _cta.scss
 * @desc portfolio の基本的なUI部分
 */

.pythagoras-container {
    display: grid;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.button {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 5 / 4;
    letter-spacing: 5px;
    border: none;
    background-color: var(--color-button);
    color: var(--color-white);
    cursor: cursor;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 2%;

    .button-icon {
        position: relative;
        width: 50%;
        height: 40%;
        max-height: 50%;
        object-fit: contain;
        display: block;
        margin: 0 auto;
        transition: filter 0.3s ease;
    }

    .button-text {
        position: relative;
        text-align: center;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc(var(--font-size-base) * 0.3);
        padding: 0;
        margin: 0;
        text-overflow: ellipsis; /* はみ出し部分に"..."を表示 */
        word-wrap: break-word;
        transition: filter 0.3s ease;

        .text-main {
            font-family: 'Arcade-classic', sans-serif;
            line-height: 1.2;
        }
    
        .text-sub {
            font-family: 'DotGothic16', sans-serif;
            line-height: 1;
        }
    }

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: #298ed1bd;
    }

    &:hover .button-icon, &:hover .button-text {
        filter: drop-shadow(0px 0px 10px #daff07);
    }
}

.summary-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 5 / 4;
    position: relative;
    margin: 2%;
    padding: 6%;
    box-sizing: border-box;

    .button {
        width: 100%;
        max-width: 100%;
        aspect-ratio: 5 / 4;
        letter-spacing: 5px;
        border-radius: var(--solid-line-weight);
        border: var(--solid-line-weight) solid var(--color-black);
        background-color: var(--color-white);
        color: var(--color-black);
        cursor: none;
        transition: background-color 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
        padding: 2%;

        .button-icon {
            position: relative;
            width: 50%;
            height: 40%;
            max-height: 50%;
            object-fit: contain;
            display: block;
            margin: 0 auto;
            transition: filter 0.3s ease;
        }

        .button-text {
            position: relative;
            text-align: center;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: calc(var(--font-size-base) * 0.3);
            padding: 0;
            margin: 0;
            text-overflow: ellipsis; /* はみ出し部分に"..."を表示 */
            word-wrap: break-word;
            transition: filter 0.3s ease;

            .text-main {
                font-family: 'Arcade-classic', sans-serif;
                line-height: 1.2;
            }
        
            .text-sub {
                font-family: 'DotGothic16', sans-serif;
                line-height: 1;
            }
        }

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: var(--color-hover);
        }

        &:hover .button-icon, &:hover .button-text {
            filter: drop-shadow(0px 0px 10px #ffffff);
        }
    }
}

.app-icon-plate {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5%;
    justify-content: center;
    flex-direction: column;
    background-color: #fcfcfc00;

    .back-plate {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: #fcfcfc59;
        visibility: visible;
        opacity: 1;
        transition: transform 0.3s linear;

        .title {
            position: relative;
            display: flex;
            width: 100%;
            height: calc(var(--bar-font-size) * 1.5);
            top: 0;
            flex-direction: row;
            border-radius: 10px 10px 0 0;
            background-color: #298ed1;
            color: var(--color-black);
            font-size: calc(var(--bar-font-size) * 0.4);
            font-family: "DotGothic16", sans-serif;
            font-weight: 800;

            .left {
                position: relative;
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
                width: auto;
                text-align: center;
                background-color: rgba(0, 0, 0, 0);
            }

            .right {
                flex: 0;
                position: relative;
                display: flex;
                right: 0;
                align-items: center;
                justify-content: space-around;
                height: 100%;
                margin: 0;
                background-color: rgba(0, 0, 0, 0);
                padding: 0 calc(var(--solid-line-weight) * 2);

                .button {
                    position: relative;
                    height: 100%;
                    width: calc(var(--bar-font-size) * 0.6);
                    justify-content: center;
                    background-color: rgba(0, 0, 0, 0);

                    .minimize-line {
                        display: block;
                        position: relative;
                        width: calc(var(--bar-font-size) * 0.3);
                        height: calc(var(--bar-font-size) * 0.03);
                        background-color: var(--color-white);
                        border-radius: 99rem;
                        transition: all 0.3s ease;
                    }

                    .close-line {
                        display: block;
                        position: relative;
                        width: calc(var(--bar-font-size) * 0.3);
                        height: calc(var(--bar-font-size) * 0.03);
                        transform: rotate(-45deg);
                        background-color: var(--color-white);
                        border-radius: 99rem;
                        transition: all 0.3s ease;
                    
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: calc(var(--bar-font-size) * 0.3);
                            height: calc(var(--bar-font-size) * 0.03);
                            background-color: var(--color-white);
                            border-radius: 99rem;
                            transform: rotate(90deg);
                        }
                    }

                    &:hover .minimize-line {
                        transform: scale(1.6);
                    }

                    &:hover .close-line {
                        transform: rotate(-45deg) scale(1.6);
                    }
                }
            }
        }

        .app-icon-box {
            position: relative;
            display: flex;
            width: 100%;
            max-width: calc(var(--window-min-vp) / 8);
            aspect-ratio: 1/1;
            padding: 5%;
            margin: 2%;
            justify-content: center;
            align-items: center;
            border-radius: 15%;
            box-sizing: border-box;
            background-color: var(--color-white);
            background-size: contain;

            .img {
                max-width: calc(var(--window-min-vp) / 8);
                aspect-ratio: 1/1;
                object-fit: contain;
            }

            .text {
                position: absolute;
                bottom: calc(var(--bar-font-size) * -0.2);
                background-color: rgba(0, 0, 0, 0);
                color: var(--color-black);
                font-size: var(--font-size-base);
                font-family: "Arcade-classic", sans-serif;
                opacity: 0;
                transition: all 0.3s ease;
            }

            &:hover {
                z-index: 1;
            }

            &:hover .text {
                opacity: 1;
                transform: scale(1.5);
                filter: drop-shadow(0px 0px 2px #daff07);
                z-index: 2;
            }
        }

        &.is-minimized {
            transform: translateY(50vh) scale(0.1);
        }

        &.is-hidden {
            visibility: hidden;
        }

        &.is-closed {
            animation: shake 0.5s ease-in-out;
        }
    }
}

.link-box {
    width: 100%;
    letter-spacing: 5px;
    border-radius: var(--solid-line-weight);
    border: var(--solid-line-weight) solid var(--color-black);
    background-color: var(--color-white);
    color: var(--color-black);
    cursor: none;
    transition: background-color, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 2%;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: var(--color-hover);
        transform: scale(0.95);
    }

    a {
        display: block;
    }
}