/**
 * @file _footer.scss
 * @desc portfolio のフッター部分
 */

.footer{
    width: 100%;
    height: calc(var(--bar-font-size) * 3.5);
    background-color: var(--color-hover);
    color: white;
    text-align: center;
    padding: calc(var(--bar-font-size) * 0.5);

    .social-icons {
        display: flex;
        justify-content: center;
        gap: var(--bar-font-size);

        .social-icon {
            width: var(--bar-font-size);
            height: var(--bar-font-size);
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .footer-text {
        font-size: var(--bar-font-size);
        letter-spacing: calc(var(--bar-font-size) * -0.3);
        margin: calc(var(--bar-font-size) * 0.5) 0;
    }
}
