/**
 * @file _footer.scss
 * @desc portfolio のフッター部分
 */

.footer{
    width: 100%;
    height: calc(var(--bar-font-size) * 3.5);
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-black);
    text-align: center;

    .cloud, .ground {
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-position: center;
        background-repeat: no-repeat;
        padding: calc(var(--bar-font-size) * 0.4);
        gap: calc(var(--bar-font-size) * 0.5);

        .social-icons {
            display: flex;
            position: relative;
            justify-content: center;
            gap: var(--bar-font-size);

            .social-icon {
                width: var(--bar-font-size);
                height: var(--bar-font-size);
                transition: transform 0.3s ease;
                filter: contrast(0.8);

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .footer-text {
            position: relative;
            margin-top: calc(var(--bar-font-size) * 0.9);
            font-size: var(--bar-font-size);
            letter-spacing: calc(var(--bar-font-size) * -0.3);
        }
    }

    .cloud {
        background-image: url('../../figs/backgrounds/cloud.png');
        background-size: 100% 100%;
    }

    .ground {
        color: var(--color-beige);
        background-color: var(--color-beige);
        background-image: url('../../figs/backgrounds/ground_2.png');
        background-size: 100% auto;
    }
}
