/**
 * @file _header.scss
 * @desc portfolio のヘッダー部分
 */

.popup-bar {
    position: fixed;
    top: calc(var(--bar-font-size) * -1);
    left: 0;
    width: 100%;
    height: calc(var(--bar-font-size));
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-black);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s ease;
    z-index: 9999;
    font-size: calc(var(--bar-font-size) * 0.4);
    padding: var(--solid-line-weight);

    .left {
        position: relative;
        flex: 0 0 auto;
        height: 100%;
        width: auto;
        flex-grow: 1;
        text-align: left;
        background-color: rgba(0, 0, 0, 0);

        .title {
            font-size: calc(var(--bar-font-size) * 0.5);
            font-family: 'Edu AU VIC WA NT Pre', sans-serif;
            padding: calc(0.1 * var(--popup-bar-height));
        }

        .subtitle {
            font-size: calc(var(--bar-font-size) * 0.2);
            font-family: 'Josefin-Sans', sans-serif;
        }
    }

    .right {
        flex: 0 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0;
        gap: var(--solid-line-weight);

        button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: auto;
            background-color: var(--color-black);
            color: var(--color-white);
            border: none;
            padding: 0 calc(var(--bar-font-size) * 0.2);
            cursor: pointer;
            font-size: calc(var(--bar-font-size) * 0.4);
            font-weight: 300;
            font-family: 'Arcade-classic', sans-serif;
            transition: background-color 0.3s;
            border-radius: var(--solid-line-weight);
            border: var(--solid-line-weight) solid var(--color-white);

            &:hover {
                background-color: var(--color-hover);
            }

            &:focus {
                outline: none;
            }
        }
    }
}

.menu-text {
    font-size: calc(var(--bar-font-size) * 0.2);
    top: calc(var(--bar-font-size) * 0.15);
    position: absolute;
    color: var(--color-white);
}

.circle {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(var(--bar-font-size) * 0.3);
    height: calc(var(--bar-font-size) * 0.3);
    border-radius: 50%;

    .is-drawerActive & {
        background: transparent;
    }
}

.line {
    display: block;
    position: relative;
    width: calc(var(--bar-font-size) * 0.3);
    height: calc(var(--bar-font-size) * 0.03);
    background-color: var(--color-white);
    border-radius: 99rem;
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);

    &::before,
    &::after {
        content: "";
        right: 0;
        position: absolute;
        width: calc(var(--bar-font-size) * 0.3);
        height: calc(var(--bar-font-size) * 0.03);
        background-color: var(--color-white);
        border-radius: 99rem;
        transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &::before {
        top: calc(var(--bar-font-size) * 0.1);
    }

    &::after {
        bottom: calc(var(--bar-font-size) * 0.1);
    }

    .is-drawerActive & {
        background-color: transparent;

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(-45deg);
        }
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 998;

    .is-drawerActive & {
        opacity: 1;
        pointer-events: auto;
    }
}

.drawer {
    position: fixed;
    display: flex;
    top: 0;
    right: -80vw;
    width: 80vw;
    max-width: 800px;
    height: 100%;
    padding: calc(var(--bar-font-size) * 2) calc(var(--bar-font-size) * 0.5);
    gap: calc(var(--bar-font-size) * 0.5);
    border: white solid var(--solid-line-weight);
    border-radius: 15px 0 0 15px;
    color: var(--color-white);
    background-attachment: scroll;
    background-image: url('../../figs/backgrounds/maptile_renga_black_02_matt_x5.png');
    background-repeat:repeat-y;
    background-size: contain;
    background-color: var(--color-black);
    flex-direction: column;
    align-items: center;
    justify-content: start;
    transition: right 0.3s ease;
    overflow-y: scroll;
    z-index: 999;

    .page-top {
        width: 100%;
        display: flex;
        justify-content: center;
        font-family: 'Arcade-classic', 'DotGothic16';
        font-size: calc(var(--font-size-base) * 2);
        font-weight: bold;
        text-shadow: 0 0 2px var(--color-black);
        color: var(--color-blue);
        transition: all 0.15s ease-in-out;

        &:hover {
            scale: 1.05;
        }
    }

    .drawer-menu {
        position: relative;
        height: 30vh;
        max-width: 90%;
        gap: var(--solid-line-weight);
        background-color: var(--color-black);
        border-radius: 15px;
        border: var(--color-white) solid var(--solid-line-weight);
        justify-content: center;
        overflow: hidden;

        .media {
            position: relative;
            display: flex;
            height: 100%;
            width: 100%;
            padding: 0 calc(var(--solid-line-weight) * 2);
            gap: var(--solid-line-weight);
            flex-direction: row;
            justify-content: center;
            margin: auto;
            background-color: rgba(255, 253, 164, 0);
            transition: all 0.15s ease-in-out;

            img, video {
                position: relative;
                flex: 0;
                width: 35%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0);
                object-fit: scale-down;

                source {
                    width: 100%;
                    height: 100%;
                    object-fit: scale-down;
                }
            }

            .details {
                position: relative;
                display: flex;
                flex: 1;
                height: 100%;
                width: 65%;
                gap:calc(var(--bar-font-size) * 0.4);
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .title {
                    font-family: 'Arcade-classic', 'DotGothic16';
                    font-size: calc(var(--bar-font-size) * 0.5);
                    font-weight: bold;
                    color: var(--color-pink);
                }

                .description {
                    font-family: 'Kiwi Maru';
                    font-size: calc(var(--bar-font-size) * 0.3);
                    color: var(--color-white);
                }
            }
        }

        &:hover {

            .media {
                scale: 1.02;

                img, video {
                    filter: brightness(1.5);
                }
            }
        }
    }

    .is-drawerActive & {
        opacity: 1;
        right: 0;
    }
}

.neon-red, .neon-blue, .neon-green, .neon-orange, .neon-pink, .neon-purple {
    color: #fee;

    span:nth-of-type(1) {
        animation: blink linear infinite 3s;
    }

    span:nth-of-type(2) {
        animation: blink linear infinite 4s;
    }

    span:nth-of-type(3) {
        animation: blink linear infinite 4.7s;
    }

    span:nth-of-type(4) {
        animation: blink linear infinite 5.5s;
    }
}

.neon-red {
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}

.neon-blue {
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #5271ff, 0 0 0.5em #5271ff, 0 0 0.1em #5271ff, 0 10px 3px #000;
}

.neon-green {
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #0fa, 0 0 0.5em #0fa, 0 0 0.1em #0fa, 0 10px 3px #000;
}

.neon-orange {
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ffa500, 0 0 0.5em #ff8d00, 0 0 0.1em #ffa500, 0 10px 3px #000;
}

.neon-pink {
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #f09, 0 0 0.5em #f09, 0 0 0.1em #f09, 0 10px 3px #000;
}

.neon-purple {
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #bc13fe, 0 0 0.5em #bc13fe, 0 0 0.1em #bc13fe, 0 10px 3px #000;
}