/**
 * @file _keyframes.scss
 * @desc キーフレーム関連
 */

@keyframes fallAndBounce {
    0% {
        transform: translateX(-50%) translateY(-20px);
    }
    30% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-10px);
    }
    55% {
        transform: translateX(-50%) translateY(0);
    }
    70% {
        transform: translateX(-50%) translateY(-5px);
    }
    80% {
        transform: translateX(-50%) translateY(0);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes shake {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg)
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes expand {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
    
}

@keyframes moveVertical {
    0% { top: -30%; }
    100% { top: 130%; }
}

@keyframes scroll-horizon-to-left {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes scroll-horizon-to-right {
    from {
        transform: translateX(10%);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79%{
        color: #333;
    }
    80% {
        
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #333;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #333;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}